@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .responsive-container {
    @apply pt-20 overflow-y-scroll
    max-sm:max-w-screen-sm min-h-screen bg-base-300;
  }
  .wrapper {
    @apply z-0 flex items-center justify-center gap-4 p-4 flex-wrap flex-col lg:flex-row-reverse;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}
